In [1]:
import pandas as pd

In [2]:
clients_details_df = pd.read_csv('../data/industry_client_details.csv')

In [3]:
clients_details_df

     client_id company_size         industry   location
0   4280387012        Large  Finance Lending     Mumbai
1   2095513148        Small  Finance Lending    Chennai
2   7225516707       Medium  Finance Lending  New Delhi
3   8093537819        Large      Block Chain     Mumbai
4   4387541014       Medium      Hyper Local   Banglore
..         ...          ...              ...        ...
95  9159056053       Medium           Gaming  New Delhi
96  1077708772        Small      Block Chain     Mumbai
97  4361672518        Small               AI  New Delhi
98  6751372012        Large      Hyper Local     Mumbai
99  6209923307       Medium           Gaming    Chennai

[100 rows x 4 columns]

In [11]:
clients_details_df.shape

(100, 4)

In [10]:
condition1 = clients_details_df['industry'] == 'Finance Lending'
condition2 = clients_details_df['industry'] == 'Block Chain'
filtered_clients_df = clients_details_df[condition1 | condition2]

In [26]:
grouped_clients_df = filtered_clients_df.groupby('industry').count()

In [30]:
grouped_clients_df = grouped_clients_df.reset_index()

In [34]:
grouped_clients_df

          industry  client_id  company_size  location
0      Block Chain         25            25        25
1  Finance Lending         22            22        22

In [38]:
grouped_clients_df = grouped_clients_df[['industry', 'client_id']]

In [43]:
grouped_clients_df.columns = ['Industry Name', 'Count']

In [49]:
grouped_clients_df.to_csv('result_client_industry_count.csv', index = False)