**What is the median amount paid each year for all payment methods?**

In [1]:
import pandas as pd

In [2]:
payment_df = pd.read_csv('../data/payment_information.csv')

In [3]:
payment_df

     client_id payment_date  amount_paid payment_method
0   6292156167    9/16/2019        447.0  Bank Transfer
1   7462725203    5/21/2018        379.7  Bank Transfer
2   4698004907    9/11/2021        435.1          Check
3   3510240337    12/7/2020        413.1          Check
4   7501599785     3/4/2019         61.1  Bank Transfer
..         ...          ...          ...            ...
95  8155233099     6/3/2020        265.9    Credit Card
96  9752784850    9/15/2021        286.8    Credit Card
97  8988409533    5/15/2020        163.2    Credit Card
98  7465144773     9/7/2021        434.6          Check
99  9159056053    5/28/2022        486.4          Check

[100 rows x 4 columns]

In [4]:
payment_df['payment_year'] = payment_df['payment_date'].apply(lambda x: x[-4:])

In [5]:
payment_df

     client_id payment_date  amount_paid payment_method payment_year
0   6292156167    9/16/2019        447.0  Bank Transfer         2019
1   7462725203    5/21/2018        379.7  Bank Transfer         2018
2   4698004907    9/11/2021        435.1          Check         2021
3   3510240337    12/7/2020        413.1          Check         2020
4   7501599785     3/4/2019         61.1  Bank Transfer         2019
..         ...          ...          ...            ...          ...
95  8155233099     6/3/2020        265.9    Credit Card         2020
96  9752784850    9/15/2021        286.8    Credit Card         2021
97  8988409533    5/15/2020        163.2    Credit Card         2020
98  7465144773     9/7/2021        434.6          Check         2021
99  9159056053    5/28/2022        486.4          Check         2022

[100 rows x 5 columns]

In [6]:
result_median_payment_df = payment_df.groupby(['payment_year', 'payment_method']).agg(
    median_amount_paid = ('amount_paid', 'median')
)

In [7]:
result_median_payment_df

                             median_amount_paid
payment_year payment_method
2018         Bank Transfer               281.65
             Check                       216.60
             Credit Card                 229.15
2019         Bank Transfer               184.20
             Check                       410.20
             Credit Card                 401.90
2020         Bank Transfer               225.10
             Check                       413.10
             Credit Card                 285.25
2021         Bank Transfer               255.30
             Check                       435.10
             Credit Card                 208.70
2022         Bank Transfer               196.50
             Check                       275.50
             Credit Card                 326.20

In [8]:
result_median_payment_df.columns

Index(['median_amount_paid'], dtype='object')

In [9]:
result_median_payment_df = result_median_payment_df.reset_index()

In [10]:
result_median_payment_df.to_csv('result_median_payment_per_year_per_payment_method.csv', index = False)